body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条滑块 */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a5a5a5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  cursor: default;
}

a {
  text-decoration: none;
}

svg {
  cursor: pointer;
}

button{
  outline: none;
  cursor: pointer;
  transition: .3s;
}

input{
  outline: none;
}

button[disabled], svg[disabled]{
  cursor: no-drop;
  opacity: 0.6;
}

input.normal_input{
  padding: 4px 10px;
  border-radius: 6px;
  border-color: #000;
  box-sizing: border-box;
}

button.normal_btn{
  padding: 4px 20px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 1rem;
  color:#fff;
  pointer-events: all;
}
button.outlined_btn{
  padding: 4px 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 1rem;
  color:#000;
  pointer-events: all;
}

button:hover{
  box-shadow: 0 0 5px -1px #666;
}

.normal_btn:disabled{
  opacity: 0.5;
  cursor: default;
}

.scroll_er{
  width: 100%;
  overflow-x: auto;
}
.scroll_er::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条滑块 */
.scroll_er::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a5a5a5;
}

table{
  border-collapse:collapse;
}
.scroll_table{
  width: 100%;
  overflow-x: auto;
}
.scroll_table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条滑块 */
.scroll_table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a5a5a5;
}

.no_scroll_bar::-webkit-scrollbar{
  display: none;
}

.ps_mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 66;
  transition: .5s;
  opacity: 1;
}

.loading_wrap{
  /* width: fit-content; */
  /* margin: 20% auto 0; */
  /* background-color: #000; */
  animation: appear 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul{
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

img, svg, input{
  vertical-align: bottom;
}

img{
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text_center{
  text-align: center;
}

.two_line{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;

}


.md_detail blockquote {
  padding: 4px 0 4px 1em;
  margin: 0;
  margin-bottom: 8px;
  border-left: 4px solid gray;
  white-space: normal;
  background-color: #f5f5f5;
  border-radius: 0 6px 6px 0;
  opacity: 0.8;
  font-size: 14px;
}

.md_detail  blockquote p {
  margin: 0;
  line-height: 1.2;
}

.md_detail p {
  margin: 0 0 10px;
  white-space: pre-wrap;
  line-height: 1.5;
  word-break: break-all;
}

.md_detail * > p:last-child{
  margin-bottom: 0;
}

.md_detail a {
  pointer-events: all;
}

.md_detail img {
  max-width: 100%;
}

.md_detail table {
  border-collapse: collapse;
}

.md_detail table th,
.md_detail table td {
  min-width: 80px;
  padding: 4px;
  border: 1px solid #000;
}

.md_detail ul {
  margin: 10px 0;
}

.md_detail ul li:before {
  content: "⚪";
  float: left;
  margin-right: 10px;
  font-weight: 900;
}

.md_detail code {
  background-color: #f5f5f5;
  overflow: auto;
  color: #000;
}

.md_detail pre {
  padding: 10px;
  background-color: #f5f5f5;
  overflow: auto;
  border-radius: 8px;
  color: #000;
}

.md_detail pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条滑块 */
.md_detail pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a5a5a5;
}
.err_area{
  cursor: no-drop !important;
  pointer-events: none !important;
}
.err_area * {
  cursor: no-drop !important;
  pointer-events: none !important;
}

@media (max-width: 769px) {
  html{
    font-size: 13px;
  }
  .hide_769{
    display: none !important;
  }
  body::-webkit-scrollbar,
  .md_detail pre::-webkit-scrollbar,
  .scroll_table::-webkit-scrollbar,
  .scroll_er::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

@media (max-width: 450px) {
  html{
    font-size: 10px;
  }
  .hide_450{
    display: none !important;
  }
}

.modal_mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}

.no-pointer{
  pointer-events: none;
}


.rotate{
  transform-origin: 50% 50%;
  animation: rotate infinite 1.2s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.hide{
  display: none !important;
}

.disabled_scroll{
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.invalid{
  cursor: default;
}

input:disabled{
  opacity: 0.5;
  cursor: default;
}


