.total_wrap{
  position: relative;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.img_wrap{
  position: relative;
}

.loading_tips{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  width: fit-content;
  margin: auto;
  fill: #eb9a31;
  color: #eb9a31;
}

.loading_icon{
  animation: rotate 2s linear infinite;
  width: 30px;
  height: 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.input_wrap{
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input{
  padding: 4px 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  font-size: 1.2rem;
  transition: .3s;
}

.local_wrap{
  position: absolute;
  right: 1rem;
  top: 5rem;
  width: 30vw;
  height: 30vh;
  background-color: #272727;
}
.local_tips{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 8px;
  margin: auto;
  line-height: 1.5;
  font-size: 1.2rem;
  letter-spacing: 2px;
  fill: #fff;
  color: #fff;
}
.local_video{
  width: 100%;
  height: 100%;
  background-color: #272727;
  border-radius: 12px;
}

.target_video{
  width: 100%;
  height: 100%;
  background-color: #000;
}

.operate_wrap{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}
.room_msg{
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.chat_btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(3rem + 20px);
  height: calc(3rem + 20px);
  border-radius: 50%;
  background-color: green;
  border: none;
}

.back_btn{
  position: absolute;
  left: 1rem;
  bottom: 0;
  background-color: #fff;
  fill: #000;
}

.back_btn:hover {
  box-shadow: 5px 5px 10px #666;
  cursor: pointer;
}

.line_banner{
  display: none;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #f3d695;
  color: #f77d40;
}

@media (min-width: 1200px) {
  
  .local_wrap {
    top: 2rem;
    width: 20vw;
    height: 20vh;
  }
  .total_wrap {
    height: calc(100vh - 60px);
    margin: 30px auto;
    border-radius: 20px;
  }
}



@media (min-width: 769px) {
  .back_btn {
    position: fixed;
    bottom: unset;
    top: 60px;
    left: 20px;
    background-color: transparent;
    fill: #fff;
  }
}

@media (max-width: 769px) {
  .line_banner{
    display: block;
  }
}

@media (min-width: 1200px) {
  .back_btn {
    left: calc(50vw - 600px + 20px);
  }
}