.wrap {
  display: flex;
  width: 100%;
  height: calc(100vh - 160px);
  max-width: 1200px;
  padding: 0.5rem;
  background-color: #f5f5f5;
  margin: 4rem auto;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.left_wrap {
  flex: 0 0 15rem;
  display: flex;
  flex-direction: column;
  // width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.right_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right_input_wrap {
  flex: 0;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.enter_icon {
  width: 1.5rem;
  padding: 0.25rem 1.2rem;
  fill: #fff;
  background-color: #000;
  border-radius: 0.2rem;
}

.right_contact_wrap {
  flex: 1;
  height: 0;
  padding: 10px 0;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: auto;
}

.new_chat_items{
  flex: 1;
}

.new_chat_wrap{
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(220,220,220,.3);
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
.new_chat_btn{
  width: 20px;
  height: 20px;
}

.gemini_msg_item {
  display: flex;
  width: 100%;
}

.avatar_img {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 10px;
}

.gemini_msg_item_content {
  flex: 1 1 100%;
  width: 0;
  max-width: fit-content;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 5px;
}

.chat_item_wrap{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  min-width: 10rem;
  box-shadow: 0 0 10px 2px rgba(220,220,220,.3);
  border-radius: 6px;
  margin: 0.5rem 0.5rem 1rem;
  background-color: #fff;
  cursor: pointer;
}

.operate_wrap{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  right: 0;
  top: 0;
  bottom: 0;
  // width: 1.5rem;
}

.chat_item_wrap.active{
  background-color: rgb(7, 80, 7);
  border: 1px solid rgb(7, 80, 7);
  overflow: hidden;
  color: #fff;
}


.operate_wrap > .operate_icon_btn{
  flex: 1;
  padding: 0 0.5rem;
  background-color: #fff;
  // border: 1px solid rgb(7, 80, 7);
  border: none;
  border-bottom: 1px solid rgb(7, 80, 7);
  cursor: pointer;
}

.operate_wrap > .operate_icon_btn:last-child{
  border-bottom: none;
}
.operate_wrap > .operate_icon_btn:hover .operate_icon{
  fill: rgb(7, 80, 7);
}

.operate_icon{
  width: 1.1rem;
  height: 1.1rem;
}

.rename_wrap{
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
}

.footer{
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  border-top: 1px solid #f5f5f5;
  button{
    margin-right: 0.5rem;
  }
  button:last-child{
    margin-right: 0;
  }
}
.rename_item{
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}
.rename_key{
  display: inline-block;
  width: 6rem;
}
.rename_input{
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f5f5f5;
  border-radius: 6px;
  font-size: 1rem;
}
.rename_modal_title{
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.cur_chat_title{
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 0 0.5rem 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.title_txt{
  display: flex;
  align-items: center;
}

.title_edit_icon,
.title_close_icon{
  width: 1.5rem;
  height: 1.5rem;
}
.title_edit_icon{
  margin-right: 20px;
}
.title_close_icon{
  margin-left: auto;
}

.right_wrap > *:last-child{
  margin-bottom: 0;
}

@media (min-width: 796px) {
  .left_wrap {
    margin-right: 0.5rem;
  }
}

@media (max-width: 796px) {
  .wrap {
    height: calc(100vh - 8rem);
    flex-direction: column;
  }

  .left_wrap {
    position: sticky;
    top: 4.5rem;
    flex-direction: row;
    flex-basis: auto;
    background-color: #f5f5f5;
    &:before{
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 4.5rem;
      background-image: linear-gradient(180deg, #fff 0, #fff 50%, #f5f5f5 100%);
    }
  }
  .new_chat_items{
    display: flex;
  }
  .right_wrap{
    height: 0;
  }

  .right_input_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    .input{
      font-size: 1.5rem;
    }
  }
  .enter_icon {
    padding: 0.5rem 1.2rem;
  }

  .gemini_msg_item_content{
    font-size: 1.2rem;
  }
  // .cur_chat_title{
  //   position: sticky;
  //   top: calc(9.5rem + 35px);
  // }
}