.wrap {
  display: flex;
  width: 100%;
  height: calc(100vh - 160px);
  max-width: 1200px;
  padding: 0.5rem;
  background-color: #f5f5f5;
  margin: 4rem auto;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.left_wrap {
  flex: 0 0 15rem;
  display: flex;
  flex-direction: column;
  // width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.right_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right_input_wrap {
  flex: 0;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

.enter_icon {
  width: 1.5rem;
  padding: 0.25rem 1.2rem;
  fill: #fff;
  background-color: #000;
  border-radius: 0.2rem;
}

.right_contact_wrap {
  flex: 1;
  height: 0;
  padding: 10px 0;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: auto;
}

.new_chat_items{
  flex: 1;
}

.new_chat_wrap{
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(220,220,220,.3);
  text-align: center;
  cursor: pointer;
}
.new_chat_btn{
  width: 20px;
  height: 20px;
}

.gemini_msg_item {
  display: flex;
  width: 100%;
}

.avatar_img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.gemini_msg_item_content {
  flex: 1 1 100%;
  width: 0;
  max-width: fit-content;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 5px;
}

.chat_item_wrap{
  padding: 1rem 0.5rem;
  box-shadow: 0 0 10px 2px rgba(220,220,220,.3);
  border-radius: 6px;
  margin-bottom: 1rem;
}
.chat_item_wrap.active{
  background-color: rgb(7, 80, 7);
  color: #fff;
}

@media (min-width: 796px) {
  .left_wrap {
    margin-right: 0.5rem;
  }
}

@media (max-width: 796px) {
  .wrap {
    height: auto;
    flex-direction: column;
  }

  .left_wrap {
    flex-basis: auto;
    background-color: transparent;
  }

  .right_input_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
  }
}